@import '../App/mixins';
@import '../App/variables';

.AutocompleteComponent {
  width: 100%;
  position: relative;

  &__input {
    width: 100%;
    padding: 5px 10px;
    font-size: 22px;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    border: none;
    outline: none;
  }

  &__dropdown {
    position: absolute;
    max-height: 400px;
    overflow-y: scroll;
    width: 20%;
    transform: translateY(5px);
    @include shadowedBorder();
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    z-index: 100;
  }
}

@media screen and (max-width: 1200px) {
  .AutocompleteComponent {
    &__dropdown {
      width: 300px;
    }
  }
}
